<h2>О нас: </h2>
<p>Barbershop находится на Комсомольском проспекте\n
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis praesentium, optio dolorum, corporis, magnam error nam officia assumenda animi debitis recusandae expedita ipsam incidunt laudantium non. Sunt fuga dolorum a.\n
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit voluptate ea, velit nam atque autem architecto blanditiis est totam nulla doloribus ullam molestias numquam voluptas quasi fugit sint eaque. Libero.</p>